# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.
#[mcu]
#canbus_uuid: 2d271e043e2b      #Main MCU M8p
#[mcu et0]
#canbus_uuid: bfda585b6b51      #Toolhead 1
#[mcu et1]
#canbus_uuid: 2a7416c76ab6      #Toolhead 2
[mcu et2]
canbus_uuid: af8ead42bbf4      #Toolhead 3
#[mcu et3]
#canbus_uuid: a4936c29577e      #Toolhead 4
#[mcu et4]
#canbus_uuid: 5c0c8260116e      #Toolhead 5
#[mcu et5]
#canbus_uuid: d62841ab906d      #Toolhead 6

[extruder2]
step_pin: et2:PD0
dir_pin: et2:PD1
enable_pin: !et2:PD2
microsteps: 16
rotation_distance: 47.088 # Galileo 2 9T Stepper Motor
gear_ratio: 9:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: et2:PB13
sensor_type: MAX31865
sensor_pin: et2:PA4
spi_bus: spi1
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
control: pid
pid_Kp=38.947
pid_Ki=8.376 
pid_Kd=45.276
min_temp: -10
max_temp: 350
min_extrude_temp: 180
pressure_advance: 0.025 #PLA                                               # See tuning pressure advance doc
pressure_advance_smooth_time: 0.040

[tmc2209 extruder2]
uart_pin: et2:PA15
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0 # Silence threshold

[fan_generic T2_partfan]
pin: et2:PA0

[heater_fan T2_hotend_fan]
pin: et2:PA1
heater: extruder2
heater_temp: 50.0

[gcode_macro T2]
variable_color: ""
gcode:
  SELECT_TOOL T=2

[tool T2]
tool_number: 2
extruder: extruder2
#detection_pin: et2:PB6
fan: T2_partfan
#gcode_x_offset: 0.956250 #0.937500 #0.9359 #1.212500
#gcode_y_offset: -0.800000 #-0.662500 #-0.5802 #-0.768750
#gcode_z_offset: 0.400000 #0.3935 #0.410000
params_type: 'sc'
#This is the path the tool change takes. Shouldn't have to change it. Unless
#you are using a custom dock
params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 140.30
params_park_y: 4
params_park_z: 551
params_safe_y: 250
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: '2hump_ei'
params_input_shaper_freq_x: 81.6
params_input_shaper_damping_ratio_x: 0.1
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 39.2
params_input_shaper_damping_ratio_y: 0.1


[tool_probe T2]
pin: et2:PB6
tool: 2
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: -1.319 # Z axis-sensor relative nozzle offset
# drop_first_result: True # enable is on danger-klipper
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder2

# PER-TOOLHEAD SENSORS (TOOLHEAD ENTRY)
#[filament_switch_sensor toolhead_t2]
#switch_pin: ^et2:PB5 #EBBCAN Pin
#pause_on_runout: False

# PER-TOOL EXTRUDER SENSORS
#[filament_switch_sensor pre_extruder_t2]
#switch_pin: ^et2:PB8 #EBBCAN Pin
#pause_on_runout: False

#[filament_motion_sensor encoder2]
#extruder: extruder2
# Name of the extruder this sensor is for.
#switch_pin: ^mmu:MMU_ENCODER_2
# Replace `^PA1` with the actual GPIO pin the encoder is connected to. 
# The `^` enables the pull-up resistor.

#detection_length: 7.0
# The distance (in mm) the filament must move before the sensor checks for motion.
# Start with a conservative value like 7.0 and decrease it later for higher sensitivity.

#extrusion_leeway: 0.8
# The amount of filament (in mm) the extruder can push without the sensor detecting movement.
# This accounts for lag and retraction.

# Set the maximum amount of filament (in mm) the extruder can advance 
# without receiving a signal from the motion sensor before it triggers.
# Set it to a value slightly higher than `detection_length`.
#max_extrude_cross_section: 10.0

# How many seconds to wait after a "jam" or "clog" event before running `runout_gcode`.
#pause_delay: 0.5

# What to do when a clog or jam is detected.
#runout_gcode: PAUSE
# This pauses the print. You can customize this macro to, for example, 
# park the toolhead, display a message, and move the extruder.

# What to do when a paused print is resumed.
#insert_gcode: RESUME

[adxl345 T2]
cs_pin: et2:PB12
spi_software_sclk_pin: et2:PB10
spi_software_mosi_pin: et2:PB11
spi_software_miso_pin: et2:PB2
axes_map: x,z,y



[neopixel et2_leds]
pin: et2:PD3 # EBBCan
#pin: PD15 # M8P Pin
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#